.description-column {
  height: inherit;
  overflow-y: auto;
}

.author-column {
  height: inherit;
  overflow-y: auto;
}

.details-row {
  height: 100%;
  max-height: inherit;
  width: 100%;
}

.details-title-row {
  height: 10%;
  width: 100%;
  text-align: center;
}

.details-detail-row {
  height: 90%;
  max-height: inherit;
  width: 100%;
}

.details-action-button-row {
  width: 100%;
}

.game-button {
  background-color: black;
  border: solid 2px rgb(124, 255, 36);
  color: rgb(124, 255, 36);
  width: 100%;
  height: 45px;
}

.progress-bar {
  background-color: black;
  border: solid 2px rgb(124, 255, 36);
  color: rgb(124, 255, 36);
  width: 100%;
  height: 45px;
  display: flex;
}

.progress-bar-fill {
  background-color: rgb(124, 255, 36);
}
