body {
  background-color: black;
  color: rgb(124, 255, 36);
}

.center-text {
  text-align: center;
}

.app-container {
  height: 100vh !important;
  width: 95%;
}

.app-header {
  height: 10vh;
}

img {
  max-width: 100%;
  height: auto;
}
iframe {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.game-preview-container {
  width: 100%;
  height: 100%;
}
